<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">平安物流</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    </ul>

      {% if request.user.is_authenticated %}
          Hello, {{ request.user }}
          &nbsp;&nbsp;
          <a href="{% url 'modifypwd' %}" class="btn btn-sm btn-primary">修改密码</a>
          &nbsp;&nbsp;
          <a href="{% url 'logout' %}" class="btn btn-sm btn-dark">退出</a>
      {% else %}
          Hello, 请登录！
          <a href="{% url 'login' %}" class="btn btn-sm btn-info">登录</a>
          &nbsp;&nbsp;
          <a href="{% url 'register' %}" class="btn btn-sm btn-info">注册</a>
      {% endif %}
  </div>
</nav>