<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
	{% load static %}
	<link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/login/css/login.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/rgststyles.css' %}">
	<link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  
    
</head>
<body>
    <div class="login-box">
        <form action="" method="post">
          {% csrf_token %}
          <h3 class="text-center"><strong>新用户注册</strong></h3>
 
		    <div class="login-field">
                <label for="input_user_type">注册为: </label>
                <select name="utype" id="input_user_type" onchange="showDiv(this)">
                    <option value="buyer">买方</option>
                    <option value="seller">卖方</option>
                    <option value="company">物流公司</option>
                    <option value="platform">电商平台</option>
                    <option value="delivery">配送人员</option>
                </select>
            </div>
		  
          <div class="inputContainer">
            <input type="text" name='username' class="input" placeholder=" ">
            <label for="" class="label">请输入用户名</label>
          </div>
    
          <div class="inputContainer">
            <input type="password" name='password1' class="input" placeholder=" ">
            <label for="" class="label">请输入密码</label>
          </div>

          <div class="inputContainer">
            <input type="password" name='password2' class="input" placeholder=" ">
            <label for="" class="label">请确认密码</label>
          </div>
		
		
			<script type="text/javascript">
			function showDiv(select){
			   if(select.value=="company" || select.value=="platform"){
				document.getElementById('hidden_div').style.display = "block";
			   } else{
				document.getElementById('hidden_div').style.display = "none";
			   }
			} 
			</script>
		
		
          <div class="inputContainer" style="display:none;" id="hidden_div">
            <input type="text" name='companyname' class="input" placeholder=" ">
            <label for="" class="label">请输入公司名称</label>
          </div>

          <div class="inputContainer">
            <input type="text" name='address' class="input" placeholder=" ">
            <label for="" class="label">请输入地址</label>
          </div>

          <div class="inputContainer">
            <input type="tel" name='tel' class="input" placeholder=" ">
            <label for="" class="label">请输入手机号码</label>
          </div>

          <div class="inputContainer">
            <input type="email" name='email' class="input" placeholder=" ">
            <label for="" class="label">请输入邮箱</label>
          </div>
    
          <input type="submit" class="submitBtn" value="提交">
        </form>
      </div>

      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
      {% for message in messages %}
      <script>
        Swal.fire({
            "title" : "{{message}}",
            "icon" : "warning"
        });
      </script>
      {% endfor %}


</body>
</html>