{% extends 'delivery-index.html' %}

{% block content %}
	
	<div style="height: 10px;"></div>
    <div class="container-fluid">
{#        卡片#}
	<div style="height: 10px;"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light shadow text-center">
                    <div class="card-header">
                        <h3 class="card-title">订单总数</h3>
                    </div>
                    <div class="card-body">
                        <h3>{{ distribution_count }}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light shadow text-center">
                    <div class="card-header">
                        <h3 class="card-title">待确认订单</h3>
                    </div>
                    <div class="card-body">
                        <h3>{{ distribution_p_count }}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light shadow text-center">
                    <div class="card-header">
                        <h3 class="card-title">已确认订单</h3>
                    </div>
                    <div class="card-body">
                        <h3>{{ distribution_c_count }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div style="height: 10px;"></div>
	<hr>
	
    <div class="container-fluid">
        <div class="row">
            
                <h4>订单详情</h4>
				<div style="height: 10px;"></div>
                <table class="table table-hover" style="text-align:center">
                    <thead>
                        <tr class="table-dark align-middle">
                            <th scope="col">订单分配编号</th>
                            <th scope="col">物流单号</th>
                            <th scope="col">配送人员</th>
                            <th scope="col">订单状态</th>
                            <th scope="col">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for j in distribution %}
                            <tr class="table-light align-middle">
                                <td>{{ j.dpno }}</td>
                                <td>{{ j.dno }}</td>
                                <td>{{ j.pno }}</td>
                                <td>{{ j.is_checked }}</td>
                                <td>                                    
                                    <button type="button" id="{{ j.dpno }}-update" class="btn btn-sm btn-warning">确认</button>                             
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>

{% endblock %}

{% block javascript %}

    <script>
        {% for j in distribution %}
            $(document).ready(function(){
                $('#{{ j.dpno }}-update').click(function(){
                    var r = confirm("你要确认这个订单吗？")
                    if(r){
                        $.ajaxSetup({
                            data: {
                                csrfmiddlewaretoken: '{{ csrf_token }}',                                
                            }
                        })
                        $.ajax({
                            type: 'POST',
                            url: "{% url 'dashboard:delivery-distribution-home' %}",
                            data: {
                                'distribution_confirm': {{ j.dpno }},
                            },
                            dataType: 'text',
                            success: function(){
                                window.location.reload()
                            },
                            error: function(){
                                console.log("Somewhere is wrong!")
                            }
                        })
                    }
                })
            })
        {% endfor %}
    </script>

{% endblock %}
