{% extends 'delivery-index.html' %}

{% block content %}

    <div style="height: 10px;"></div>   

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4>填报历史</h4>
				<div style="height: 10px;"></div>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">配送人员</th>
                            <th scope="col">当日途经城市</th>
                            <th scope="col">配送人员体温(℃)</th>
                            <th scope="col">填写时间</th>                          
                        </tr>
                    </thead>
                    <tbody>
                        {% for j in health reversed %}
                            <tr>
                                <td>{{ j.pno }}</td>
                                <td>{{ j.pcity }}</td>
                                <td>{{ j.ptemp }}</td>
                                <td>{{ j.pupdate }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}