
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>InputData</title>
    </head>
    <body>
        <div style="width: 210px; margin: 0 auto">
            <form method="post">
                <label for="salerid">卖方id：</label>
                <input type="text" name="salerid" style="width: 150px"><br><br>
                <label for="orderid">物流订单id：</label>
                <input type="text" name="orderid" style="width: 150px"><br><br>
                <label for="company">请选择物流公司：</label>
                <select name="company">
                    <option value="company">物流公司</option>
                </select><br><br>
                &nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" >
            </form>
        </div>
    </body>
    </html>